@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");

html {
  font-family: "Noto Sans JP", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.section {
  min-height: 100vh;
}

body {
  color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 1em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

p {
  font-weight: 300;
}

.section.home {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.greeting {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

.greeting h1 {
  font-weight: 400;
  font-size: 2em;
}

.greeting p {
  font-size: 0.7em;
  font-weight: 500;
  color: rgb(228, 213, 172);
}

.icon {
  height: 1em;
  width: 1em;
  display: inline-flex;
  align-self: center;
  top: 0.125em;
  left: 0.125em;
  position: relative;
}

.link {
  height: 1.5em;
  width: 1.5em;
  margin-left: 10px;
}

.arrow {
  margin-top: 20%;
  font-size: 1em;
  text-decoration: none;
  color: rgb(41, 49, 172);
  text-align: center;
}

.links-wrapper {
  top: 0;
  margin-top: 20px;
  margin-left: 20px;
}

footer {
  text-align: center;
}

.title {
  letter-spacing: 5px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.routing {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  top: 0;
  right: 0;
  padding: 30px;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  font-weight: 500;
}

.routing a {
  margin-right: 10px;
  color: black;
  transition: color 0.5s ease-in;
}

.routing a:hover {
  color: white;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  margin: 40px auto;
  height: 50%;
  font-size: 1em;
}

.card p {
  font-size: 1em;
}

.card h1 {
  font-size: 1em;
}

.card img {
  width: 100%;
  height: 40%;
  max-width: 100%;
  padding: 0;
}

.content-wrap {
  margin: 20px;
}

.content-wrap p {
  line-height: 1.7em;
}

.tags {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  margin-top: 10%;
}

.tag {
  border: 0px solid black;
  background-color: rgb(243, 200, 122);
  color: rgb(65, 67, 73);
  padding: 5px;
  border-radius: 10%;
  margin-bottom: 2%;
}

.title a {
  font-size: 1em;
}

.blog-entry {
  border: 0.5px solid black;
  padding: 10px;
  background-color: paleturquoise;
  border-radius: 10px;
}

.blog-post,
.container {
  margin: 0 auto;
  width: 40%;
}

.blog-post,
.content {
  min-height: 0;
}

.blog > p {
  margin-bottom: 15px;
}

.contact-form {
  padding: 5px;
}
.contact-form * {
  display: block;
  margin: 10px;
}

a:visited {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  width: 100%;
  color: black;
  background-color: transparent;
}

.connected {
  display: inline-block;
  content: "";
  border-radius: 100%;
  background-color: green;
  height: 0.3em;
  width: 0.3em;
  margin-bottom: 0.125em;
  margin-right: 0.125em;
}

.sections {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.sections > a {
  box-shadow: 0 4px 8px 0 black(85, 165, 161, 0.2);
  color: rgb(238, 229, 225);
  margin-top: 0.5em;
  font-weight: 300;
  font-size: 0.9em;
  width: 40%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.sections > a > img {
  margin-right: 0.5em;
}

.sections > a:hover {
  color: rgb(219, 161, 86);
}

.blink {
  opacity: 0;
  animation: 1s blinking infinite;
  animation-timing-function: step-end;
}
.content {
  min-height: 92vh;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.section.about {
  width: 90%;
  margin: 0 auto;
  min-height: 50vh;
  line-height: 2.5em;
}

.section.about h1 {
  color: rgb(47, 81, 92);
  letter-spacing: 0.125em;
}

.section.about p {
  margin-top: 2em;
  font-size: 1.5em;
  text-align: left;
}

.section.contact {
  box-shadow: 20px 5px 5px rgba(50, 50, 50, 0.75);
  margin-top: 2em;
  background: rgb(51, 50, 50);
  min-height: auto;
  padding: 2em;
  font-size: 1em;
  color: rgb(216, 215, 212);
  line-height: 2.5em;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
}

form > * {
  margin-top: 1em;
}

input {
  background-color: WHITE;
  color: BLACK;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.message {
  height: 500px;
  color: BLACK;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button {
  background-color: #3d3f3d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1em 2px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .card {
    height: 20%;
    width: 40%;
  }

  .section.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  input {
    width: 20%;
  }
  textarea {
    width: 20%;
  }
  form {
    margin: 0 auto;
    width: 50%;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .section.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .card {
    padding: 0;
    height: 20%;
    width: 20%;
  }

  .card img {
    height: auto;
  }

  .section.home {
    font-size: 1.5em;
    min-height: 100vh;
  }

  .section.projects {
    min-height: 100vh;
  }

  .arrow {
    display: none;
  }

  .sections {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }

  .sections > a {
    margin: 0 1.5em;
    width: 7%;
    padding: 0.2em;
  }

  .section.about {
    width: 70%;
    font-size: 2em;
    min-height: 80vh;
  }

  .section.about p {
    margin-bottom: 2em;
    font-size: 1em;
    font-weight: 400;
    margin: 0.8em;
  }
}
